@import './layout.scss';

// button
@mixin btn($height: auto, $size: .7rem, $color: #fff, $bgColor: #f04752, $lineColor: #f04752, $line: 1px, $padding: .25rem, $radius: .25rem) {
    height: $height;
    line-height: $height;
    font-size: $size;
    color: $color;
    background: $bgColor;
    border: $line solid $lineColor;
    border-radius: $radius;
    padding: $padding;
    // line-height: 1;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

// back icon
@mixin backIcon($width: 0, $size: .6rem, $line: 2px, $color: #5d5f6a, $rotate: 45deg, $top: 0, $mgrTop: 0) {
    text-align: center;
    &:before{
        content: '';
        width: $size;
        height: $size;
        border-left: $line solid $color;
        border-bottom: $line solid $color;
        transform: rotate($rotate);
        display: inline-block;
        box-sizing: border-box;
        top: $top;
        margin-top: $mgrTop;
    }
}

// more icon
@mixin more($width: .15rem, $radius: 50%, $size: .4rem, $color: #5d5f6a) {
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: $radius;
        top: $radius;
        vertical-align: middle;
        width: $width;
        height: $width;
        border-radius: $radius;
        background-color: $color;
        box-shadow: $size 0 0 $color, -$size 0 0 $color;
    }
}

// 1px border line
@mixin borderBot($width: 100%, $height: 1px, $color: #ddd, $scale: .5, $size: 0, $left: left, $top: top) {
    position: relative;
    &::before{
        content: '';
        width: $width;
        height: $height;
        background-color: $color;
        transform: scaleY($scale);
        transform-origin: $left $top;
        position: absolute;
        top: $size;
        left: $size;
        box-sizing: border-box;
    }
}

// text overflow
@mixin txtOverflow($width: 100%, $display: block) {
    width: $width;
    display: $display;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

// tabulation layout
@mixin list($direction: column) {
    @include flex($direction);
}

// panel layout
@mixin panel($color: #333, $bgColor: #fff, $padding: 0, $margin: .5rem 0, $height: 2.8rem, $txtPadding: 0 .8rem, $fontSize: .8rem) {
    background-color: $bgColor;
    padding: $padding;
    margin: $margin;
    >h4{
        height: $height;
        line-height: $height;
        // padding: $txtPadding;
        text-align: center;
        color: $color;
        font-size: $fontSize;
        font-weight: 600;
        @include txtOverflow;
    }
    >h3{
        font-size: .9rem;
        font-weight: 700;
        padding: 0 .75rem;
    }
}